certifi==2022.12.7
charset-normalizer==3.1.0
colorama==0.4.6
idna==3.4
iniconfig==2.0.0
packaging==23.1
pep8==1.7.1
pluggy==1.0.0
pyfiglet==0.8.post1
pytest==7.3.1
requests==2.29.0
terminal-palette==0.0.4
urllib3==1.26.15
